<% provide(:title, 'Contact us') %>
<div class="static">
  <h1>Contact Us</h1>

	<%= form_for @message do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>

		<fieldset>
		  <div class="row">
		  	<div class="small-3 columns">
		  		<%= f.label :name, class: "right inline", placeholder: "Name" %>
		  	</div>
		  	<div class="small-9 columns">
		  		<%= f.text_field :name %>
		  	</div>
		  </div>

		  <div class="row">
		  	<div class="small-3 columns">
		  		<%= f.label :email, class: "right inline", placeholder: "Email" %>
		  	</div>
		  	<div class="small-9 columns">
		  		<%= f.text_field :email %>
		  	</div>
		  </div>

		  <div class="row">
		  	<div class="small-3 columns">
		  		<%= f.label :password, class: "right inline", placeholder: "Password" %>
		  	</div>
		  	<div class="small-9 columns">
		  		<%= f.password_field :password %>
		  	</div>
		  </div>

		  <div class="row">
		  	<div class="small-3 columns">
		  		<%= f.label :password_confirmation, "Password Confirmation", class: "right inline", placeholder: "Password Confirmation" %>
		  	</div>
		  	<div class="small-9 columns">
		  		<%= f.password_field :password_confirmation %>
		  	</div>
		  </div>  
		</fieldset>

		<div class="row">
				<div class="columns">
					<%= f.submit "Send message", class: "button" %>
				</div>
			</div>
	<% end %>
</div>