<% provide(:title, "Sign in") %>
<div class="static">
	<h1>Sign in</h1>
  <%= form_for(:session, url: sessions_path) do |f| %>
  	<fieldset>

  		<div class="row">
  			<div class="small-3 columns">
  				<%= f.label :email, class: "right inline", placeholder: "Email" %>
  			</div>
  			<div class="small-9 columns">
  				<%= f.text_field :email %>
  			</div>
  		</div>

  		<div class="row">
  			<div class="small-3 columns">
  				<%= f.label :password, class: "right inline", placeholder: "Password" %>
  			</div>
  			<div class="small-9 columns">
  				<%= f.password_field :password %>
  			</div>
  		</div>

  		<div class="row">
  			<div class="columns">
  				<%= f.submit "Sign in", class: "button" %>
  			</div>
  		</div>
      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  	</fieldset>
  <% end %>

</div>