<div id="field">
<fieldset>
  <div class="row">
  	<div class="large-12 columns">
  		<%= f.label :name %>
  		<%= f.text_field :name %>
  	</div>
  </div>

  <div class="row">
  	<div class="large-12 columns">
  		<%= f.label :email%>
  		<%= f.text_field :email %>
  	</div>
  </div>

  <div class="row">
  	<div class="large-12 columns">
  		<%= f.label :password %>
  		<%= f.password_field :password %>
  	</div>
  </div>

  <div class="row">
  	<div class="large-12 columns">
  		<%= f.label :password_confirmation, "Password Confirmation" %>
  		<%= f.password_field :password_confirmation %>
  	</div>
  </div>
</fieldset>
</div>