<% provide(:title, @user.name) %>
<div class="row">
	<div class="six columns">
		<h1>
			<%= gravatar_for @user %>
			<%= @user.name %>
		</h1>
  </div>
</div>

<div class="row">
	<div class="large-6 columns">
		<h3>Requests (<%= @user.requests.count %>)</h3>
		<% if @user.requests.any? %>
			<ol class="requests">
				<%= render @requests %>
			</ol>
			<%= will_paginate @requests, id: "request_pagination" %>

		<% end %>
  </div>
  <div class="large-6 columns">
  	<h3>Resources</h3>
  </div>
</div>